/* ===== Variables Globales ===== */
:root {
    /* Polices par défaut */
    --default-font: "Courier New", Courier, monospace;
    --heading-font: "Courier New", Courier, monospace;
    --nav-font: "Courier New", Courier, monospace;

    /* Palette de couleurs PurpleDark */
    --purple-1: #18111b;
    --purple-2: #1e1523;
    --purple-3: #301c3b;
    --purple-4: #3d224e;
    --purple-5: #48295c;
    --purple-6: #54346b;
    --purple-7: #664282;
    --purple-8: #8457aa;
    --purple-9: #8e4ec6;
    --purple-10: #9a5cd0;
    --purple-11: #d19dff;
    --purple-12: #ecd9fa;

    /* Couleurs de base */
    --app-background: var(--purple-1);           /* Fond le plus sombre */
    --subtle-background: var(--purple-2);        /* Fond subtil */
    --ui-element-background: var(--purple-3);    /* Fond des éléments UI */
    --hover-ui-element-background: var(--purple-4); /* État au survol des éléments UI */
    --active-ui-element-background: var(--purple-5); /* État actif ou sélectionné */
    --subtle-borders-separators: var(--purple-6); /* Bordures subtiles */
    --ui-element-border: var(--purple-7);        /* Bordures des éléments UI */
    --hovered-ui-element-border: var(--purple-8); /* Bordure au survol */
    --solid-background: var(--purple-9);         /* Fond solide */
    --hovered-solid-background: var(--purple-10); /* Fond solide au survol */
    --low-contrast-text: var(--purple-11);       /* Texte à faible contraste */
    --high-contrast-text: var(--purple-12);      /* Texte à fort contraste */
}

/* ===== Variables du Thème Clair ===== */
[data-theme="light"] {
    /* Palette de couleurs pour le thème clair */
    --purple-1: #fefcfe;
    --purple-2: #fbf7fe;
    --purple-3: #f7edfe;
    --purple-4: #f2e2fc;
    --purple-5: #ead5f9;
    --purple-6: #e0c4f4;
    --purple-7: #d1afec;
    --purple-8: #be93e4;
    --purple-9: #8e4ec6;
    --purple-10: #8347b9;
    --purple-11: #8145b5;
    --purple-12: #402060;

    /* Couleurs de base */
    --app-background: var(--purple-1);           /* Fond le plus clair */
    --subtle-background: var(--purple-2);        /* Fond subtil */
    --ui-element-background: var(--purple-3);    /* Fond des éléments UI */
    --hover-ui-element-background: var(--purple-4); /* État au survol des éléments UI */
    --active-ui-element-background: var(--purple-5); /* État actif ou sélectionné */
    --subtle-borders-separators: var(--purple-6); /* Bordures subtiles */
    --ui-element-border: var(--purple-7);        /* Bordures des éléments UI */
    --hovered-ui-element-border: var(--purple-8); /* Bordure au survol */
    --solid-background: var(--purple-9);         /* Fond solide */
    --hovered-solid-background: var(--purple-10); /* Fond solide au survol */
    --low-contrast-text: var(--purple-11);       /* Texte à faible contraste */
    --high-contrast-text: var(--purple-12);      /* Texte à fort contraste */
}

/* ===== Styles de Base ===== */
body {
    font-family: var(--default-font);
    background: var(--subtle-background);
    color: var(--high-contrast-text);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--high-contrast-text);
}

p, a, span {
    color: var(--low-contrast-text);
}

a:hover {
    color: var(--solid-background);
}

/* ===== Styles de la===== */
.navbar .navbar-brand {
    color: var(--high-contrast-text);
    font-weight: 700;
}

.navbar, .navbar-nav .nav-link {
    background-color: var(--subtle-background);
    color: var(--high-contrast-text);
    z-index: 1030;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    font-size: 1.15rem;
}

.navbar-nav .nav-link {
    font-family: var(--nav-font);
    z-index: 1030;
}

.navbar-nav .nav-link:hover {
    color: var(--solid-background);
    z-index: 1030;
}

/* ===== Section Hero ===== */
.hero {
    height: 100vh;
    background: var(--subtle-background);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/z\ copie.jpg');
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: 20% 9%; /* Move it 10% to the right and 20% down */
    background-attachment: fixed;
    opacity: 0.15; /* Adjust the transparency level */
    z-index: 0;
}




.hero h2 {
    font-size: 5rem;
    font-weight: 500;
    background: linear-gradient(90deg, var(--high-contrast-text), var(--low-contrast-text), var(--high-contrast-text));
    background-clip: text;
    background-size: 200% 100%;
    -webkit-background-clip: text;
    color: transparent;
    animation: shine 4s linear infinite;
}

.hero h3 .typed,
.hero h3 .typed span {
    background: linear-gradient(90deg, var(--hovered-solid-background), var(--high-contrast-text), var(--hovered-solid-background));
    background-clip: text;
    background-size: 200% 100%;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 2rem;
    font-weight: 550;
    animation: shine 3s linear infinite;
}

@keyframes shine {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

.scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.btn-scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--ui-element-background);
    color: var(--high-contrast-text);
    font-size: 1.5rem;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease, transform 0.3s ease;
}

.btn-scroll:hover {
    background: var(--hovered-solid-background);
    transform: translateY(-50%) scale(1.1);
}

.btn-scroll i {
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

.hero .social-icons {
    margin-top: 15px;
}

.hero .social-icons i {
    color: var(--high-contrast-text);
}

/* Styles des icônes sociales */
.social-icons a {
    background: var(--ui-element-background);
    color: var(--high-contrast-text);
    border: 1px solid var(--ui-element-border);
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    transition: background 0.3s ease, color 0.3s ease;
    font-size: 1.2rem;
    margin: 0 5px;
}

.social-icons a:hover {
    background: var(--hovered-solid-background);
    color: var(--ui-element-background);
    text-decoration: none;
}

/* ===== Section À Propos ===== */
#about {
    background: var(--ui-element-background);
    color: var(--high-contrast-text);
}

#about h2, #about h5 {
    color: var(--high-contrast-text);
}

#about h3 {
    font-weight: bold;
    color: var(--high-contrast-text);
}

.about-card {
    position: relative;
    background: var(--ui-element-background);
    color: var(--low-contrast-text);
    border: 2px solid var(--hovered-ui-element-border);
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    z-index: 1;
}

.about-card h3, .about-card p {
    position: relative;
    color: var(--high-contrast-text);
}

  

#about .btn {
    background: var(--solid-background);
    color: var(--ui-element-background);
    border: none;
    transition: background 0.3s ease;
}

#about .btn:hover {
    background: var(--hovered-solid-background);
}

/* ===== Section Projets ===== */
#projects {
    position: relative; 
    color: #fff; 
    z-index: 1; 
  }
  
  #projects::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/pexels-pixabay-270366.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;
    background-attachment: fixed; 
    opacity: 0.1; 
    z-index: -1; 
  }
  

#projects h2 {
    font-weight: bold;
    color: var(--high-contrast-text);
    text-align: center;
}

#projects h5 {
    font-weight: bold;
    color: var(--low-contrast-text);
    text-shadow: 1px 1px 3px var(--hover-ui-element-background);
    text-align: center;
}


#projects .card {
    background: var(--ui-element-background);
    border: 1px solid var(--ui-element-border);
}

#projects .card-title {
    color: var(--high-contrast-text);
}

#projects .card-text {
    color: var(--low-contrast-text);
}

#projects .card:hover {
    background: var(--hover-ui-element-background);
}

/* Styles pour la liste des compétences */
.skills-header {
    margin-bottom: 25px;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

/* Styles pour chaque badge */
.skills-list .badge {
    background: var(--ui-element-background);
    color: var(--high-contrast-text);
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 0.9rem;
    text-align: center;
    transition: background 0.3s ease, color 0.3s ease;
    border: 1px solid var(--ui-element-border);
}

.skills-list .badge:hover {
    transform: scale(1.2);
    background: var(--hovered-solid-background);
    color: var(--ui-element-background);
    cursor: pointer;
}

/* ===== Section Contact ===== */
#contact {
    background: var(--ui-element-background);
    color: var(--high-contrast-text);
}

#contact h2, #about h2 {
    font-weight: bold;
    color: var(--high-contrast-text);
    text-align: center;
}

#contact h5, #about h5 {
    font-weight: normal;
    color: var(--low-contrast-text);
    text-align: center;
}


/* Styles des champs de formulaire */
.form-floating .form-control,
.form-floating textarea {
    background-color: var(--ui-element-background);
    color: var(--high-contrast-text);
    border: 1px solid var(--ui-element-border);
}

.form-floating label {
    color: var(--low-contrast-text);
}

.form-floating .form-control::placeholder {
    color: transparent;
}

.form-floating .form-control:focus + label {
    color: var(--ui-element-background);
}

.contact-btn {
    font-family: var(--default-font);
    font-size: 18px;
    background: var(--hover-ui-element-background);
    color: var(--low-contrast-text);
    padding: 0.8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
  }
  
  .contact-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  }
  
  .contact-btn:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .contact-btn span {
    display: block;
    margin-left: 0.4em;
    transition: all 0.2s;
  }
  
  .contact-btn svg {
    width: 18px;
    height: 18px;
    fill: var(--high-contrast-text);
    transition: all 0.2s;
  }
  
  .contact-svg-wrapper-1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contact-svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5em;
    transition: all 0.2s;
  }
  
  .contact-btn:hover .contact-svg-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .contact-btn:hover svg {
    transform: rotate(45deg);
  }
  
/* ===== Pied de Page ===== */
footer {
    background: var(--ui-element-background);
    color: var(--high-contrast-text);
    padding: 20px;
}

footer p {
    color: var(--high-contrast-text);
}

footer .social-icons a {
    background: var(--ui-element-background);
    color: var(--high-contrast-text);
    border: 1px solid var(--ui-element-border);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background 0.3s ease, color 0.3s ease;
}

footer .social-icons a:hover {
    background: var(--hovered-solid-background);
    color: var(--ui-element-background);
}

/* ===== Boutons ===== */
button, .btn {
    background: var(--solid-background);
    color: var(--ui-element-background);
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 4px;
    transition: background 0.3s ease;
}

button:hover, .btn:hover {
    background: var(--hovered-solid-background);
}

/* From Uiverse.io by adamgiebl */ 
.cssbuttons-io-button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.5em 0.8em 1.2em;
    color: var(--high-contrast-text); /* Adapt text color */
    background: var(--ui-element-background);
    border: 2px solid var(--solid-background); /* Adapt border */
    border-radius: 20em; /* Rounded corners */
    transition: box-shadow 0.3s, border-color 0.3s; /* Smooth hover effect */
}

.cssbuttons-io-button span {
    color: var(--high-contrast-text); /* Replace with desired color */
}

.cssbuttons-io-button svg {
    margin-right: 8px;
}

.cssbuttons-io-button:hover {
    border-color: var(--high-contrast-text); /* Change border color on hover */
    box-shadow: 0 0.5em 1.5em -0.5em var(--hovered-solid-background); /* Adapt shadow */
}

.cssbuttons-io-button:active {
    box-shadow: 0 0.3em 1em -0.5em var(--hovered-solid-background); /* Adjust active shadow */
}


/* ===== Responsive Design ===== */
@media screen and (max-width: 990px) {
    #skills .card {
        width: calc(50% - 10px) !important;
    }
}

@media screen and (max-width: 668px) {
    #skills .card,
    #portfolio .card-wrapper {
        width: 100% !important;
    }

    #about .hire-text h2 {
        height: 70px;
        width: 70px;
    }
}

/* ===== Styles du Commutateur de Thème ===== */
.toggle-switch {
    position: relative;
    width: 75px;
    height: 37.5px;
    --light: var(--ui-element-background); 
    --dark: var(--solid-background);
    padding-top: 4px;
}

.switch-label {
    position: absolute;
    width: 100%;
    height: 37.5px;
    background-color: var(--dark);
    border-radius: 18.75px;
    cursor: pointer;
    border: 2.5px solid var(--dark);
}

.checkbox {
    position: absolute;
    display: none;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 18.75px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked ~ .slider {
    background-color: var(--light);
}

.slider::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-box-shadow: inset 10px -4px 0px 0px var(--light);
    box-shadow: inset 10px -4px 0px 0px var(--light);
    background-color: var(--dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
    transform: translateX(37.5px);
    background-color: var(--dark);
    box-shadow: none;
}

/* ===== Styles pour le bouton Hamburger ===== */
.navbar-toggler {
    border: none;
    background: transparent;
}

.navbar-toggler-icon {
    background-image: none !important; /* Supprime l'image de fond par défaut */
}

.navbar-toggler-icon {
    width: 24px;
    height: 17px;
    position: relative;
    display: inline-block;
}

/* Styles pour les barres du hamburger */
.navbar-toggler-icon::before,
.navbar-toggler-icon::after,
.navbar-toggler-icon .icon-bar {
    content: '';
    background-color: var(--high-contrast-text);
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
}

.navbar-toggler-icon::before {
    top: 0;
}

.navbar-toggler-icon .icon-bar {
    top: 7.5px;
}

.navbar-toggler-icon::after {
    top: 15px;
}

/* ===== Media ====== */
@media screen and (max-width: 768px) {
    .hero {
        padding-left: 20px; /* Ajoute du padding à gauche */
        padding-right: 20px; /* Ajoute du padding à droite */
    }

    .hero h2 {
        font-size: 3rem; /* Ajuste la taille pour les petits écrans */
        line-height: 1.2; /* Améliore l'espacement vertical */
    }

    .hero h3 .typed,
    .hero h3 .typed span {
        font-size: 1.5rem;
        margin-top: 10px; /* Ajoute un espacement avec le titre */
        margin-bottom: 20px; /* Ajoute de l'espacement avec les éléments suivants */

    }
}

/* ===== Style Carte Projets ===== */
.card {
    position: relative;
    width: 220px;
    height: 320px;
    background: var(--ui-element-background);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden; /* Prevent hover effects from spilling out */
  }
  
  .card::before,
  .card::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    background-color: var(--hover-ui-element-background);
    transition: all 0.5s;
  }
  
  .card::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
  }
  
  .card::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100% 0 15px;
  }
  
  .card:hover::before,
  .card:hover::after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
  
  .card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    color: white; 
    font-weight: bold; 
    position: relative;
    z-index: 2; 
    opacity: 1; 
    transition: opacity 0.3s ease;
  }
  
  .card:hover .card-content {
    opacity: 0; 
  }
  
  .hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    color: var(--high-contrast-text); 
    opacity: 0; 
    z-index: 3; 
    transition: opacity 0.3s ease, transform 0.3s ease; 
    text-decoration: none;
  }
  
  .card:hover .hover-text {
    opacity: 1; 
    transform: translate(-50%, -50%) scale(1.05); 
  }

  .hover-text:hover {
    color: var(--solid-background); /* Optional: Change color on hover */
  }
  